<application>

    <name> Preprocessor Test </name>

    <!-->  
    MODULES.    
    <!-->
    <module>
        <name> preprocessor_test </name>
        <parameters> </parameters>
        <node> icub </node>
    </module>

    <module>
        <name> audioPreprocessor </name>
        <parameters> --context preprocessor_test --parameter preprocessor_test_config.ini </parameters>
        <node> icub </node>
    </module>

</application>
